html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 200px; /* bottom = footer height */
    padding: 25px;
    margin:0;
    background: #eee;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 200px;
    width: 100%;
    overflow:auto;
    margin-top: 5%;
}

/* nav bar */
a {
  display: inline-block;
  background-color: transparent;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 25px;
}

.wrapper {
  max-width: 1280px;
  margin: auto;
  margin-top: 20px;
  border-bottom-width: 10px;
  border-top-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-style: solid;
  border-color: black;
  overflow: auto;
}

h1 {
  font-size: 2em;
  line-height: 1;
}

#page-header {
  background-image: linear-gradient(-100deg, rgba(255, 255, 255, 0), blue 85%, rgba(255, 255, 255, 0));
  height: 135px;
}

#page-header h1 a {
  float: left;
  color: black;
  font-size: 1em;
  margin: 0 0 0 0;
  text-decoration: none;
}

li.rightnav {
  text-align: center;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}


.container {
    display: inline-block;
    cursor: pointer;
}
/* hamburger */
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

#page-header h1 a:hover {background-color: #555;}

ul.topnav li a:hover {background-color: #555;}

h3 a:hover {background-color: #555;}

ul.topnav li.icon {display: none;}

/* paintings slide bar */

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 400px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 1000px;
  height: 600px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

img.art{
   max-width:100%;
   max-height:100%;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}


/* contact info footer*/

.contact {
  text-align: center;
  max-width: 1280px;
  margin: auto;
  margin-top: 20px;
  border-bottom-width: 2px;
  border-top-width: 10px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-style: solid;
  border-color: black;
  overflow: auto;
  margin-bottom: 25px;
  height: 200px;
}

#highlight {
  background-image: linear-gradient(-100deg, rgba(255, 255, 255, 0), red 85%, rgba(255, 255, 255, 0));
  width: 100%;
}

@media screen and (max-width:900px) {
  ul.topnav.responsive {
    position: relative;
    display: block;
  }
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: block;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
  ul.topnav li.rightnav {display: none;}
  ul.topnav li.icon {
    display: inline;
  }
  #slider {
    width: 5%;
  }
  .slider_option{
    display: none;
  }
}

